/* content */
.content {
  padding: 40px;
  background: #eee;
}

.title {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

/* banner */
.banner-container {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  min-width: 360px;
  margin: 0 auto;
  overflow: hidden;
}

.banner {
  position: relative;

  top: 0;
  width: 100%;
  height: 90px;
  background-color: #283692;
  overflow: hidden;
}

.hide {
  top: 200px;
}

/* decorate element */
.wave {
  position: absolute;
  bottom: 0;
  left: 187px;
}

.x {
  position: absolute;
  top: 4px;
  left: 334px;
  animation: slideRightAnimation 5000ms;
  animation-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
  animation-iteration-count: infinite;
}

.ellipse {
  position: absolute;
  bottom: 9px;
  right: 302px;
}

.dotes-grid {
  position: absolute;
  bottom: 23px;
  right: 4px;
}

/* banner-img */
.banner-img-wrapper {
  position: absolute;
  top: 100%;
  left: 109px;
  z-index: 2;
  animation: slideUpAnimation 5000ms;
  animation-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
  animation-delay: 1000ms;
  animation-iteration-count: infinite;
}

.banner-img {
  width: 131px;
  height: 112px;
  margin-bottom: 100px;
  background-image: url(img/yellow-bg.svg);
  background-repeat: no-repeat;
  position: relative;
}

.sneakers-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sale-women-img {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

/* banner-content */
.banner-content-wrapper {
  position: absolute;
  bottom: 0%;
  left: 395px;
  z-index: 2;
  animation: slideDownAnimation 5000ms;
  animation-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
  animation-delay: 1000ms;
  animation-iteration-count: infinite;
}

.banner-content {
  margin-bottom: 100px;
}

.banner-content-title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 29px;
  color: #ffc400;
  font-weight: 700;
  font-style: italic;
  font-family: 'Roboto';
}

.banner-content-text {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Roboto';
  text-transform: uppercase;
  text-align: center;
}

/* bnt */
.btn-wrapper {
  position: absolute;
  top: 27px;
  right: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  padding: 10px 22px;
  background-color: #ffffff;
  border-radius: 30px;
  animation: btnScaleAnimation 5000ms;
  animation-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
  animation-delay: 2000ms;
  animation-iteration-count: infinite;
}

.btn {
  display: inline-block;
  font-size: 25px;
  letter-spacing: 1px;
  color: #283693;
  font-weight: bold;
  font-family: 'Roboto';
  text-transform: uppercase;
  text-decoration: none;
}

/* close-btn */
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* media */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* decorate element */
  .wave {
    left: 117px;
  }

  .x {
    left: 252px;
  }

  .ellipse {
    right: 202px;
  }

  .dotes-grid {
    right: -16px;
  }

  /* banner-img */
  .banner-img-wrapper {
    left: 43px;
  }

  /* banner-content */
  .banner-content-wrapper {
    left: 39%;
  }

  /* bnt */
  .btn-wrapper {
    right: 33px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  /* decorate element */
  .wave {
    bottom: 8px;
    left: 42px;
    width: 89px;
  }

  .x {
    top: 3px;
    left: 120px;
    width: 12px;
  }

  .ellipse {
    bottom: 2px;
    right: 77px;
    width: 22px;
  }

  .dotes-grid {
    bottom: 73px;
    right: -20px;
    width: 38px;
  }

  /* banner-img */
  .banner-img-wrapper {
    left: 6px;
  }

  .banner-img {
    width: 95px;
    height: 81px;
    background-size: contain;
  }

  .sneakers-img {
    width: 107px;
  }

  .sale-women-img {
    width: 117px;
  }

  /* banner-content */
  .banner-content-wrapper {
    left: 38%;
  }

  .banner-content-title {
    font-size: 27px;
  }

  .banner-content-text {
    font-size: 12px;
    margin-top: 4px;
  }

  /* bnt */
  .btn-wrapper {
    right: 6px;
    width: 68px;
    height: 42px;
    padding: 8px 15px;
    border-radius: 11px;
  }

  .btn {
    font-size: 16px;
  }
}

/* animation */
@keyframes slideUpAnimation {
  0% {
    transform: translateY(0%);
  }

  10%,
  45% {
    transform: translateY(-23%);
  }

  50% {
    transform: translateY(-50%);
  }

  55%,
  95% {
    transform: translateY(-73%);
  }

  100% {
    transform: translateY(-83%);
  }
}

@keyframes slideDownAnimation {
  0% {
    transform: translateY(0%);
  }

  10%,
  45% {
    transform: translateY(28%);
  }

  50% {
    transform: translateY(52%);
  }

  55%,
  95% {
    transform: translateY(77%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes btnScaleAnimation {
  0%,
  5%,
  9%,
  12% {
    transform: scale(1);
  }

  3%,
  7%,
  11% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideRightAnimation {
  0%,
  80% {
    transform: translateX(0%);
  }

  83%,
  87% {
    transform: translateX(30%);
  }

  88%,
  100% {
    transform: translateX(0%);
  }
}
